.footerIcons{
    font-size: 20px;
  }
  .search-bar{
    position:relative;
    width:100%;
  }
  .itemColor{
    color:white;
  }
  .itemColor:hover{
    color:#51c3d4;
    text-shadow: 1px 1px 5px;
    transition: all 0.3s;
  }
  .gamesNintendo{
    margin: 45px 5px;
    text-align: center;
    height: 390px;
    background-color:rgb(255, 255, 255);
    border-radius: 15px;
    box-shadow: 3px 3px 2px;
    transition: 1s ease;
  }
  .gamesNintendo:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    box-shadow: 10px 10px 5px;
    border-radius: 50px;
    background-color: rgb(240, 190, 190);
    transition: 1s ease;
  }
  .gamesXbox{
    margin: 45px 5px;
    text-align: center;
    height: 390px;
    background-color:rgb(255, 255, 255);
    border-radius: 15px;
    box-shadow: 3px 3px 2px;
    transition: 1s ease;
  }
  .gamesXbox:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    box-shadow: 10px 10px 5px;
    border-radius: 50px;
    background-color: rgb(154, 230, 158);
    transition: 1s ease;
  }
  .gamesPlaystation{
    margin: 45px 5px;
    text-align: center;
    height: 390px;
    background-color:rgb(255, 255, 255);
    border-radius: 15px;
    box-shadow: 3px 3px 2px;
    transition: 1s ease;
  }
  .gamesPlaystation:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    box-shadow: 10px 10px 5px;
    border-radius: 50px;
    background-color: rgb(188, 198, 224);
    transition: 1s ease;
  }
  .gamesPc{
    margin: 45px 5px;
    text-align: center;
    height: 390px;
    background-color:rgb(255, 255, 255);
    border-radius: 15px;
    box-shadow: 3px 3px 2px;
    transition: 1s ease;
  }
  .gamesPc:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    box-shadow: 10px 10px 5px;
    border-radius: 50px;
    background-color: rgb(184, 184, 184);
    transition: 1s ease;
  }
  .gamesPc a{
    color:black
  }
  .gamesPlaystation a{
    color: black;
  }
  .gamesXbox a{
    color: black;
  }
  .gamesNintendo a{
    color:black;
  }
  .gameImages{
    margin-top:30px;
    width: 220px;
    height: 220px;
    transition: 1.3s ease;
  }
  .gameImages:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 1.3s ease;
  }
  .gameImages2{
    margin-top:30px;
    margin-bottom: 20px;
    width: 140px;
    height: 180px;
    transition: 1.3s;
  }
  .gameImages2:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.15);
    transition: 1.3s ease;
  }
  .gameImagesXbox{
    margin-top:30px;
    margin-bottom: 20px;
    width: 140px;
    height: 180px;
    transition: 1.3s;
  }
  .gameImagesXbox:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.15);
    -moz-box-shadow: 3px 4px 3px rgb(57, 206, 77);
    -webkit-box-shadow: 3px 4px 3px rgb(57, 206, 77);
    box-shadow: 3px 4px 3px rgb(57, 206, 77);
    transition: 1.3s ease;
  }
  .gameImagesPlayStation{
    margin-top:30px;
    margin-bottom: 20px;
    width: 140px;
    height: 180px;
    transition: 1.3s;
  }
  .gameImagesPlayStation:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.15);
    -moz-box-shadow: 3px 4px 3px rgb(57, 127, 206);
    -webkit-box-shadow: 3px 4px 3px rgb(57, 127, 206);
    box-shadow: 3px 4px 3px rgb(57, 127, 206);
    transition: 1.3s ease;
  }
  .gameImagesPc{
    margin-top:30px;
    margin-bottom: 20px;
    width: 140px;
    height: 180px;
    transition: 1.3s;
  }
  .gameImagesPc:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.15);
    -moz-box-shadow: 3px 4px 3px rgb(54, 54, 54);
    -webkit-box-shadow: 3px 4px 3px rgb(54, 54, 54);
    box-shadow: 3px 4px 3px rgb(54, 54, 54);
    transition: 1.3s ease;
  }
  .gameImagesNintendo{
    margin-top:30px;
    margin-bottom: 20px;
    width: 110px;
    height: 180px;
    transition: 1.3s;
  }
  .gameImagesNintendo:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.15);
    -moz-box-shadow: 3px 4px 3px rgb(247, 114, 114);
    -webkit-box-shadow: 3px 4px 3px rgb(248, 86, 86);
    box-shadow: 3px 4px 3px rgb(248, 86, 86);
    transition: 1.3s ease;
  }
  .xboxlinks{
    color:black;
    transition: 1s ease;
  }
  .xboxlinks:hover{
    color:rgb(4, 175, 4);
    text-shadow: 3px 3px 5px rgb(4, 175, 4);
    transition: 1s ease;
  }
  .pslinks{
    color:black;
    transition: 1s ease;
  }
  .pslinks:hover{
    color:rgb(24, 104, 150);
    text-shadow: 3px 3px 5px rgb(24, 104, 150);
    transition: 1s ease;
  }
  .nintendolinks{
    color:black;
    transition: 1s ease;
  }
  .nintendolinks:hover{
    color:rgb(233, 12, 12);
    text-shadow: 3px 3px 5px rgb(233, 12, 12);
    transition: 1s ease;
  }
  .pclinks{
    color:black;
    transition: 1s ease;
  }
  .pclinks:hover{
    text-shadow: 3px 3px 5px rgb(0, 0, 0);
    transition: 1s ease;
  }
  .btn-cart{
    color:rgb(255, 255, 255);
    background-color:rgb(116, 116, 116);
    transition: 0.5s;
  }
  .btn-cart:hover{
    color:rgb(42, 209, 201);
    transition: all 0.5s ease;
  }
  .btn-cart-xbox{
    color:rgb(255, 255, 255);
    background-color:rgb(24, 129, 24);
    transition: 0.5s;
  }
  .btn-cart-xbox:hover{
    color:rgb(24, 129, 24);
    background-color: rgb(81, 226, 81);
    transition: all 0.5s ease;
  }
  .btn-cart-ps{
    color:rgb(255, 255, 255);
    background-color:rgb(20, 80, 150);
    transition: 0.5s;
  }
  .btn-cart-ps:hover{
    color:rgb(20, 80, 150);
    background-color: rgb(109, 168, 236);
    transition: all 0.5s ease;
  }
  .btn-cart-pc{
    color:rgb(255, 255, 255);
    background-color:rgb(37, 37, 37);
    transition: 0.5s;
  }
  .btn-cart-pc:hover{
    color:rgb(26, 26, 26);
    background-color:rgb(124, 122, 122);
    transition: all 0.5s ease;
  }
  .btn-cart-nintendo{
    color:rgb(255, 255, 255);
    background-color:rgb(204, 38, 38);
    transition: 0.5s;
  }
  .btn-cart-nintendo:hover{
    color:rgb(212, 2, 2);
    background-color:rgb(218, 111, 111);
    transition: all 0.5s ease;
  }
  .backGroundImg{
    background-image: url(..//Images/wallpaper1.png);
  }
  .backGroundImgNintendo{
    background-image: url(..//Images/nintendoBackGround2.png);
  }
  .backGroundImgXbox{
    background-image: url(..//Images/xboxBackGround2.png);
  }
  .backGroundImgPlaystation{
    background-image: url(../Images/playstationBackGround.png);
  }
  .backGroundImgPc{
    background-image: url(../Images/PcBackGround.png);
  }
  .loginBackGroundImage{
    background-image: url(..//Images/wallpaper2.jpg);
  }
  .navSticky{
    position: sticky;
  }
  .footerThings{
    margin: 10px 3px;
    text-align: center;
  }

  .loginImg{
    margin:20px 20px;
    border-radius: 15%;
    transition: 0.4s ease;
  }
  .loginImg:hover{
    box-shadow: 3px 3px 6px;
    transition: 0.4s ease;
  }
  .registerBtn{
    block-size: 50px;
    font-size: 20px;
    border-radius: 10px;
  }
  .whiteBackG{
    background-color:rgb(196, 243, 194);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 5px;
    padding-left:5px;
  }
  .product-img{
    border-radius: 20px;
  }
  .xboxthings{
    background-color: rgb(216, 248, 210);
    border-radius: 20px;
  }
  .product{
    padding:50px;
    border:2px 2px
  }
  .cart-info{
    padding-top:10px;
    padding-right: 30px;
    display: flex;
    flex-wrap: wrap;
  }
  .imgSize{
    padding-right: 20px;
    width:130px;
  }
  .trClass{
    background-color: rgb(76, 204, 204);
  }
  td input{
    width:60px;
    height: 30px;
    padding:5px;
  }
  table{
    width: 100%;
    border-collapse: collapse;
  }
  .footerCucc{
    width: 100%;
    bottom:0px;
    position: absolute;
  }